body{
    margin: 0;
    font-family: Nunito Sans;
    box-sizing: border-box;
}

h2,h3,h4{
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    padding: 0;
}

input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*Commonclass*/

.text-Yeseva{
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-Yeseva-noneUp{
    text-transform: none;
}

.text-Nunito{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

.text-font-styleIt{
    font-style: italic;
}

.text-size13px21px{
    font-size: 13px;
    line-height: 21px;
}

.text-size14px27px{
    font-size: 14px;
    line-height: 27px;
}

.text-size13px27px{
    font-size: 13px;
    line-height: 27px;
}

.text-size27px37px{
    font-size: 27px;
    line-height: 37px;
}

.text-size18px25px{
    font-size: 18px;
    line-height: 25px;
}

.text-size20px28px{
    font-size: 20px;
    line-height: 28px;
}

.text-size22px36px{
    font-size: 22px;
    line-height: 36px;
}

.text-size40px53px{
    font-size: 40px;
    line-height: 53px;
}

.text-size14px19px{
    font-size: 14px;
    line-height: 19px;
}

.text-size18px26px{
    font-size: 18px;
    line-height: 26px;
}

.text-size18px29px{
    font-size: 18px;
    line-height: 29px;
}

.text-size14px23px{
    font-size: 14px;
    line-height: 23px;
}

.text-size20px38px{
    font-size: 20px;
    line-height: 38px;
}

.text-size17px24px{
    font-size: 17px;
    line-height: 24px;
}

.text-for_article{
    color: #363636;
    text-align: center;
}

.text-align{
    text-align: center;
}

.colorYel{
    color: #E3B873;
}

.colorWht{
    color: #FFFFFF;
}

.colorBlk{
    color:#181818;
}

.colorGry{
    color:#959595;
}
.center-for-content{
    margin: 0 auto;
}

.for-subtitle-h2{margin-bottom: 0;}

/************/
/*header*/

.header{
    background: #131313; 
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    position: relative;
    z-index: 333;
}

.container{
    display: flex;
    max-width: 1256px;
    margin: 0 auto;
    
}

.container-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #E3B873;
    text-transform: uppercase;
    margin-right: 95.47px;
    
}

.header__navi{
    display: flex;
    justify-content: space-between;
    margin: 24px 0 22px;
}

.header__navi > li{
    list-style: none;
}

.header__navi__link{
    margin-right:47px;
}

.header__navi__link a{
    color: #ffff;
}

.header__navi__link a:hover{
    color: #E3B873;
}

.phone__number{
    color: #fff;
    text-align: right;
    text-decoration-line: underline;
    margin: 0 45px 0 67.36px;
}

.phone__number:hover{
    color: #E3B873;
}

.button{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: none;
    padding: 13px 33px;
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
}

/*Main*/
.basic-promo{
    background-image: url(../Images/pic.jpg);
    background-size: cover;
    position: relative;
}

.basic-promo-content{
    display: flex;
    flex-direction: column;
    width: 676.11px;
    margin-left: 42px;
    margin-bottom: 208px;
}

.basic-promo-content-title{
    margin: 0;
    padding-top: 194px;
}

.Rostov{
    color: #E3B873;
}

.basic-promo-content-subtitle{
    margin: 19px 0 41px;
}

.basic-promo__buttons{
    display: flex;
    width: 676.109px;    
}

.basic-promo__comon-buttons{
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    outline: none;
    color: #FFFFFF;
    padding: 19px 42px 21px 41px;
}

.button__cost{
    
    margin-right: 20px;
}
.basic-promo__comon-buttons:hover{
    background: #E3B873;
    color: #FFFFFF;
}

.back__overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.overlay{
    position: relative;
    z-index: 1;
}

/*COMPLETEDPROJECTS*/
.completed_projects{
    display: none;
    background-color: black;
}

.container-box{
    display: flex;
    flex-direction: column;
    
}

.projects_nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 107px;
}

.projects_nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.projects_nav-list > li{
    list-style: none;
}

.nav-list-link{
    margin-right: 60.5px;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
}
.nav-list-link:hover{
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.conatiner-completed_projects{
    display: flex;
    margin: 45px 0 414.72px;
}

.content-example{
    display: flex;
    margin-top: 42px;
}
.completed_projects-example{
    width: 442px;
}
.completed_projects-example ,h2{
    margin-bottom: 34px;
}

.completed_projects-images{
    margin-left: 50px;
}
.content-example{
    display: flex;
    flex-wrap: wrap;
}
    
.content-example-description{
    width: 50%;
    margin-top: 32px;
}

.item-top{
    margin-top: 9px;
}

.slider{
    margin-top: 79.64px;   
}

/*ONLINECONTROL*/

.online-control{
    display: none;
    background-color: #FFFFFF;
}

.online-control-camera{
    width: 817px;
    margin: -298px auto 0;
    text-align: center;
}
.camera-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12.79px;
}
.camera-picture-area{
    margin: 0 7.76px;
}

/***********************************/
.online-control-video{
    background-image: url(../Images/video.png);
    margin: 31.21px auto 0;
}

.online-control-video-button{
    margin: 175px 365px;
    background: #E3B873;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    width: 85px;
}

.online-control-video-button-icon{
    margin: 30px 0;
    margin-left: 34px;
}
/********************************************/
.linebottom{
    margin-top: 62.5px;
}

.online-control-article{
    margin: 34.46px auto 91.5px;
}

.online-control-input_of_personal_date{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 769px;

}

.input_of_personal_date{
    display:flex;
    justify-content: space-between;
    width: 769px;
}

.input_of_personal_date-item{
    text-align: left;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input_of_personal_date-item input{
    width: 231px;
    border: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.5);
}

.button-submit{
    width: 200px;
}

.input_of_personal_date-checkbox{
    margin-top: 35px;
    margin-bottom: 75.85px;
}
.label{
    cursor: pointer;
}

.label-checkbox{
    display: none;
  }

.label-fake{
    display: inline-flex;
    width: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.label-fake::before{
    content:"\2713";
    opacity: 0;
    transition: .2s;
}

.label-checkbox:checked + .label-fake::before{
    opacity: 1;
}

.label-text{
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

/*TYPESOFREPAIR*/
.types_of_repair{
    display: none;
}

.types_of_repair-content .types_of_repair-content-item:nth-child(2){
    margin: 0 30px;

}

.types_of_repair__center{
    flex-direction: column;
    align-items: center;
}

.types_of_repair-img{
    margin-top: 13px;
}

.container-section-name{
    width: 257px;
    margin-bottom: 31px;
}

.types_of_repair-content-item-img1{
    width: 392px;
    height: 421px;
    background-image: url(../Images/repair1.png);
}

.types_of_repair-content-item-img2{
    width: 392px;
    height: 421px;
    background-image: url(../Images/repair2.png);
}

.types_of_repair-content-item-img3{
    width: 392px;
    height: 421px;
    background-image: url(../Images/repair3.png);
}

.types_of_repair-content{
    display: flex;
    justify-content: space-between;
}

.item-list-text{
    padding: 0;
    margin: 13px 0 10px;
}

.types_of_repair-content-item > .button{
    font-style: normal;
}

.types_of_repair-content-item-basic{
    margin: -127px 31px 0;
    background-color: #fff;
}

.types_of_repair-content-item-list{
    margin: 25px 32px 0 31px;
    
}
/*FREASON-SECTION*/
.freason{
    background-image: url(../Images/backHouse.png);
    background-repeat: no-repeat;
    display: none;
}

.freason-box{
    margin-top: 124px;
    justify-content: space-between;
}

.freason-list{
    height: 580px;
}

.freason-list-items{
    display: flex;
    margin-bottom: 86.24px;
}

.freason-list-items:last-child{
    margin-bottom: 0;
}

.freason-list-items-number{
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    margin-right: 17px;
    padding: 15px;
}

.freason-list-items-Text{
    display: flex;
    align-items: center;
    margin-left: 9.05px;
}

.freason-request{
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    margin-left: 131px;
}

.freason-request-header{
    margin-top:27px;
}

.freason-request-personal-date{
    width: 408px;
    margin: 39px auto ;
}

.freason-request-personal-date-item{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 48px;
}

.freason-request-personal-date-item:last-of-type{
    margin-bottom: 16px;
}

.freason-request-personal-date-item input{
   
    border: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
}

.freason-request-personal-date-item input::-webkit-input-placeholder{
    color: #FFFFFF;
   
}

.freason-label{
    margin-bottom: 39px;
}

.freason-request-personal-date-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 28px;
}

.freason-discount{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 242.09px;
}

.freason-discount-box{
    display: flex;
    margin-right: 168px;
}

.freason-discount-img{
    width: 40px;
    height: 33.04px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    margin-right: 25px;
    padding: 15px;
}

.freason-discount-text{
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    color: #E3B873;
}

/*FANTASIES*/

.fantasies{
    background-image: url(../Images/fantasies.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.fantasies-box{
    height: 864px;
}

.fantasies-list{
    z-index: 1;
    margin-top: 137.47px;
    margin-bottom: 97.53px;
}

.fantasies-list-text{
    margin-top: 47px;
}

.fantasies-list h2{
    width: 411px;
}

.fantasies-list-text > li{
    list-style: none;
}

.fantasies-list-text-item:hover{
    display: inline;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    cursor: pointer;
    transition: color 0.5s;
}

.fantasies-img{
    display: flex;
    margin-left: 77px;
    z-index: 1;
}

.fantasies-img-leftbar{
    margin-right: 43.19px;
    margin-top: -40.53px;
}

.fantasies-img-leftbar-item1{
    margin-bottom: 39.53px;
}

.fantasies-img-leftbar-item3{
    margin-bottom: 36.77px;
}

.fantasies-img-rightbar{
    margin-top: -112.53px;
}

/*OURCLIENTS*/

.our-clients{
    margin-top: 110.47px;
    background-image: url(../Images/city.png);
    background-position: bottom;
    background-repeat: repeat-x;
    display: none;
}

.our-clients-box{
    flex-direction: column;
}

.our-clients-header{
    margin: 0 auto 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-clients-header-img{
    margin: 13.22px 0 24.16px;
}

.our-clients-review{
    display: flex;
    justify-content: space-between;
    margin-bottom: 354.61px;
}

.our-clients-review-item{
    width: 376px;
    height: 455.03px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    margin-right: 54px;
}

.our-clients-review-item:last-child{
    margin-right: 0;
}

.our-clients-review-item-header{
    display: flex;
    align-items: center;
    margin: 24px 0 22px 20px;
}

.our-clients-review-item-header > p{
    margin-left: 23px;
}

.our-clients-review-item-article{
    margin-left: 20px;
    margin-right: 31.92px;
    margin: 0 31.92px 67px 20px;
}

.our-clients-review-item-result{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E3B873;
    width: 293.75px;
    /*height: 54;*/
    
}

/*GEOLOCATION*/

.geolocation{
    background-image: url(../Images/geoback.png);
    background-size: cover;
    display: none;
}

.geolocation-box{
    flex-direction: column;
    align-items: center;
}

.geolocation-feedback{
    z-index: 1;    
    width: 883px;
    height: 445.32px;
    background-color: black;
    margin: -222.66px auto 52.01px;
}

.geolocation-feedback-personal-date{
    margin: 34.4px 181.5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geolocation-feedback-personal-date-name_phone{
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-bottom: 48.76px;
    margin-top: 45.8px;
}

.geolocation-feedback-personal-date-name_phone input{
    border: 0;
    padding-bottom: 8px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.15);
    width: 231px;
}

.geolocation-feedback-personal-date-question{
    margin-bottom: 46.46px;
}

.geolocation-feedback-personal-date-question input{
    border: 0;
    padding-bottom: 8px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.15);
    width: 520px;
}

.geolocation-personal-date-item{
    color: rgba(255, 255, 255, 0.5);
}

.geolocation-personal-date-item input::-webkit-input-placeholder{
    color: #FFFFFF;
}

.geolocation-adress{
    z-index: 1;
}

.geolocation-adress-subtitle{
    margin-bottom: 26px;
}

.geolocation-adress-icons{
    display: flex;
    justify-content: center;
    margin-bottom: 43.29px;
}

.geolocation-adress-icons > img:last-child{
    margin-left: 15px;
}

.geolocation-overlay{
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}

/*FOOTER*/
.footer{
    background: #131313; 
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    position: relative;
    z-index: 333;
    display: none;
}

/**********ADAPTIVE*************/
@media screen and (max-width: 768px){

    .container{
        max-width: 768px;
        margin: 0 18px
    }

    /*HEADER-MOBILE*/

    .header__navi{
        display: none;
    }

    .button{
        display: none;
    }

    .container-content{
        height: 57px;
        width: 100%;
    }

    .header-box{
        justify-content: center;
    }

    .phone__number{
        margin: 0;
    }

    .logo{
        margin-right: 0;
    }

    /*BASIC-PROMO*/

    .basic-promo-content{
        margin: 0;
        width: 100%;
        margin-top: 85px;
        text-align: center;
    }

    .basic-promo-content-title{
        padding: 0;
    }

    .mobilesize23px31px{
        font-size: 23px;
        line-height: 31px;
    }
    .basic-promo-content-subtitle{
        font-size: 14px;
        line-height: 19px;
    }

    .basic-promo__buttons{
        flex-direction: column;
        width: 100%;
        margin-bottom: 61px;
    }

    .button__cost{
        margin-right: 0;
        margin-bottom: 26px;
    }
}